body {
    font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
    /* font-size: 22px; */
    background-image:url("https://static1.squarespace.com/static/532f579ce4b00147ec52e8fe/5c0d422f1ae6cf6c709167b9/5c3549ff21c67c3150f5c669/1546996234262/greyzz_%402X.png?format=500w");
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Georgia', Times, Times New Roman, serif;
    font-size: 30px;
}
.bannerBox {
    width: 100%;
    clear: both;
    position: relative;
    background-color: #ffffff;
    margin: 0;
    border-bottom: solid 1px #777;
}

#headerBox {
    width: 960px;
    margin: 0 auto 0;
    box-sizing: border-box;

}

#tealBarryRollan {
    background-color: #4aaaa5;
    color: #ffffff;
    float: left;
    padding: 15px;
}
.topBtn {
    float: right;
    margin-left: 20px;
    padding-top: 20px;
}
.mainBox {
    clear:both;
    width: 920px;
    height: auto;
    margin: 40px auto;
    background-color: #ffffff;
    padding: 20px;
    box-sizing: border-box;
}
h2 {
    color: #4aaaa5;
}

.mainPic {
    height: auto;
    width: 20%;
    float: left;
    margin: 0 15px 15px 0;
}
p {
    font-size: 22px;
}
.clearfix:after {
    content: ".";
    visibility: hidden;
    display: block;
    height: 0;
    clear: both;
}

.floatLeft {
    float: left;
}

.submitButton {
    clear: both;
    float: left;
}